@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap%27');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald";

}

body {
    background-color: rgba(127, 172, 255, 0.774);
}

header {
    background-image: url(/img/FONDO.jpg);
    color: rgb(225, 225, 225);
    height: 500px;
    display: grid;
    place-content: center;
    font-size: 50px;
};